* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-user-select: none;
}

body {
  overflow: auto;
  font-family: -apple-system-font, sans-serif;
}

a {
  text-decoration: none;
}

.pink {
  color: #EA4C89;
}

.header {
  width: 100%;
  background: rgba(237, 237, 237, 0.98);
  text-align: center;
  height: 35px;
  position: fixed;
  margin-bottom: 4px;
  z-index: 999999;
  border-bottom: 1px solid rgba(0, 0 ,0 ,0.05);
}

.header h1 {
  color: #ea4c89;
  font-size: 16px;
  line-height: 35px;
  margin: 0;
  background: url(../img/logo.svg) center no-repeat;
  text-indent: -9999px;
}

.btn {
  display:block;
  width: 35px;
  height: 35px;
  background: center no-repeat;
  background-size: 20px;
  position: absolute;
  top: 0;
  text-indent: -9999px;
  opacity: 0.25;
  transition: color 0.25s ease-out;
}

.btn:hover {
  opacity: 0.6;
}

.btn:active, .btn-pin.pinned {
  opacity: 1;
}

.btn-pin {
  left: 4px;
  background-image: url(../img/pin.svg);
}

.btn-pin:hover {
  -webkit-animation: jump 0.3s 2;
}

.btn-refresh {
  left: 39px;
  background-image: url(../img/refresh.svg);
}

.btn-refresh:hover {
  -webkit-animation: rotation 0.6s 1;
}

.btn-refresh.animate {
  cursor: default;
  -webkit-animation: rotation 2s infinite;
}

.btn-preferences {
  right: 39px;
  background-image: url(../img/settings.svg);
}

.btn-preferences:hover {
  -webkit-animation: look 0.6s 1;
}

.btn-quit {
  right: 4px;
  background-image: url(../img/exit.svg);
}

.btn-quit:hover {
  -webkit-animation: shake 0.3s 2;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0px);
  }

  25% {
    -webkit-transform: translateY(3px);
  }

  75% {
    -webkit-transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(0px);
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes look {
  0% {
    -webkit-transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(-25deg);
  }

  75% {
    -webkit-transform: rotate(25deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }

}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0px);
  }

  25% {
    -webkit-transform: translateX(-2px);
  }

  75% {
    -webkit-transform: translateX(2px);
  }

  100% {
    -webkit-transform: translateX(0px);
  }
}

.container {
  width: 100%;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-flex-flow: column wrap;
  -webkit-justify-content: center;
  -webkit-flex-direction: row;
  padding: 39px 2px 4px 2px;
}

.shot {
  position: relative;
  width: 100%;
  min-height: 238px;
  border: 2px solid #fff;
  cursor: pointer;
  background: url(../img/loading.gif) #fff no-repeat center;
  background-size: 16px;
}

.shot.gif:after {
  content: 'gif';
  position: absolute;
  left: 6px;
  top: 6px;
  padding: 0 2px;
  border-radius: 2px;
  color: rgba(0,0,0,0.4);
  background: rgba(255, 255, 255, 0.5);
  font-size: 8px;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: all 0.2s linear;
}

.shot.gif:hover:after {
  opacity: 0;
}

.shot img {
  max-width: 100%;
  display: block;
}

.shot-img {
  position: relative;
}

.large-img {
  position: absolute;
  top: 0;
  left: 0;
}

.loading {
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 4px 10px 5px;
  font-size: 12px;
  color: #333;
  -webkit-transition: all ease-in-out 0.3s;
  cursor: default;
}

.message {
  display: none;
  text-align: center;
  font-size: 16px;
  color: #ccc;
  padding: 14px 0;
  cursor: default;
}





/*
 * ========= PREFERENCES STYLE =========
 */

.preferences {
  background-color: #EDEDED;
  overflow: hidden;
}

.preferences__container {
  width: 100%;
  height: 130px;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-content: center;
  -webkit-flex-direction: column;
}

.preferences .item {
  text-align: center;
  margin-bottom: 15px;
}

.preferences .item:last-of-type {
  margin-bottom: 0;
}

.label {
  font-size: 12px;
  color: #666;
  margin-left: 2px;
}

.input {
  margin: 0;
}

.footer {
  width: 100%;
  text-align: center;
  cursor: default;
  position: absolute;
  bottom: 0;
  padding-bottom: 15px;
}

.footnote {
  color: #ccc;
  margin: 0;
  font-size: 10px;
}

.footnote a {
  color: #bbb;
}
